<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="develop.css" />
    <script
      src="https://kit.fontawesome.com/f32763c86a.js"
      crossorigin="anonymous"
    ></script>
    <title>Develop-Method</title>
  </head>
  <body>
    <div class="title">
      <h1>Be-1st조의 개발 보고서</h1>
      <a class="home" href="{{ url_for ('upload_file') }}"
        ><i class="fa-solid fa-house"></i
      ></a>
    </div>
  </body>
</html>
