<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/error.css') }}"
    />
    <title>Analysis Result</title>
  </head>
  <body>
    <h3 class="title">오픈소스SW 1조의 팀프로젝트</h3>
    <h1
      style="
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black,
          0px -1px black;
      "
    >
      🎨 Find your Personal Color 🎨
    </h1>
    <img src={{url_for('static', filename='image/우는모습.png')}} style="width:
    430px"/>
    <h2>{{ result }}</h2>

    <a class="home" href="{{ url_for ('upload_file') }}"
      ><button>다른 사진으로 다시 해보기</button></a
    >
  </body>
</html>
