<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="info.css" />
    <script
      src="https://kit.fontawesome.com/f32763c86a.js"
      crossorigin="anonymous"
    ></script>
    <title>Personal-Color-Information</title>
  </head>
  <body>
    <div class="title">
      <h1>What is Personal Color?</h1>
      <a class="home" href="web.html"
        ><i class="fa-solid fa-house" href="web.html"></i
      ></a>
    </div>
    <div class="body">
      <div class="text">
        <div class="image"><img src="./image/전체톤.png" width="100%" /></div>
        <div class="text1">🎨 퍼스널 컬러란 무엇일까??</div>
        <div class="text2">
          사람의 피부톤과 모발 컬러, 눈동자 색상 등을 통해 본인에게 가장
          어울리는 색상을 찾는 색채학 이론입니다. 색채의 조화와 부조화의 원리에
          기초를 두고 분석한 이론으로 모든 색을 사계절 유형으로 구분하는 것이
          특징입니다!
        </div>
        <div class="text2">
          퍼스널컬러는 개인에게 가장 잘 어울리는 색을 진단하여 계절에 맞는
          색으로 단점은 보완하고 장점을 극대화시켜 긍정적이고, 자신감 있는
          이미지를 연출하게 합니다. 퍼스널컬러의 활용은 개인의 패션, 스타일,
          화장법에도 영향을 주어 더욱 건강하고 생기 있어 보이는 이미지를 줍니다.
        </div>
        <div class="text1">🎨 퍼스널 컬러의 종류에는 무엇이 있을까??</div>
        <div class="text3">퍼스널 컬러를 구분하는 첫 번째 기준!</div>
        <img src="./image/계절별색상.png" width="100%" />
        <div class="text2">
          퍼스널 컬러는 기본적으로 <strong>계절</strong>에 따라
          <strong>봄, 여름, 가을, 겨울</strong> 로 구분할 수 있습니다.
        </div>
        <div class="spring">
          🌸 <strong>Spring</strong>: 부드러운 이미지, 흰 끼가 섞인 파스텔
          컬러가 잘 어울리는 톤
        </div>
        <div class="summer">
          🌿 <strong>Summer</strong>: 파스텔톤이나 시원한 컬러가 잘 어울리는
          맑고 화사한 이미지
        </div>
        <div>
          🍂 <strong>Autumn</strong>: 우아하며 차분한 이미지, 브라운 계열이 잘
          어울리는 톤
        </div>
        <div class="winter">
          ❄️ <strong>Winter</strong>: 강렬하고 비비드한 컬러가 잘 어울리는
          세련되고 시크한 이미지
        </div>
        <div class="text3">퍼스널 컬러를 구분하는 두 번째 기준!</div>
        <div class="text2">
          퍼스널 컬러에서는 피부색을 크게 두 가지로 나눕니다.
        </div>
        <div class="text2">
          노란 기운이 많이 도는 피부는 옐로 베이스의 <strong>웜톤</strong>이라
          하고 붉은 기가 돌아 블루베이스의 핑크에 가까운 피부를
          <strong>쿨톤</strong>이라고 합니다.
        </div>
        <img src="./image/웜쿨.png" width="100%" />
        <div class="text2">
          피부색 외에도 <strong>모발</strong>이나 <strong>눈동자색</strong>으로
          웜톤과 쿨톤을 나눌 수 있습니다.
        </div>
        <div class="text2">
          먼저 <strong>모발</strong>의 경우에는 노란빛이 도는 갈색이나 붉은
          기운을 띠는 갈색 머리는 웜톤이라고 하며, 푸른빛을 띠는 검은색이나
          회색기운이 도는 검은색은 쿨톤으로 분류합니다.
        </div>
        <div class="text2">
          <strong>눈동자색</strong>의 경우에는 눈동자 색이 옅은 갈색이나 짙은
          갈색처럼 흔히 '브라운' 게열이라고 불리는 갈색 눈동자는 웜톤에
          해당하며, 부드러운 느낌의 갈색이나 블랙브라운 색은 쿨톤으로
          분류됩니다.
        </div>
        <!--
        <div class="text3">퍼스널 컬러를 구분하는 세 번째 기준!</div>
        <div class="text2">
          계절에 따라 나뉜 퍼스널 컬러를 더 자세히 세분화해서 나누면
          <strong>명도, 채도</strong>를 기준으로
          <strong>라이트, 뮤트, 딥 등</strong>으로 다양하게 나눌 수 있습니다.
        </div>
        <img src="명도채도.png" width="80%" />
        
        <div class="details" id="sp">
          <div class="text3">봄 라이트</div>
          <div class="text2">
            고명도의 밝은 느낌이지만 저채도의 파스텔톤이 어울리기 때문에 청순한
            립 컬러를 발랐을 때 따뜻한 느낌이 들어요
          </div>
          <div class="text3">봄 브라이트</div>
          <div class="text2">
            고채도의 따뜻하고 발랄한 느낌과 고명도의 밝고 쨍한 컬러가 어울려서
            봄처럼 화사하게 피어나는 인상이 강해요
          </div>
        </div>
        <div class="details" id="su">
          <div class="text3">여름 라이트</div>
          <div class="text2">
            고명도의 밝고 은은한 파스텔 톤이 잘 어울리고 싱그럽고 투명한 느낌이
            들며 봄 라이트보다 흰 기가 더 많아요
          </div>
          <div class="text3">여름 브라이트</div>
          <div class="text2">
            고명도 고채도의 색인 원색 계열이 잘 받는 톤이에요
          </div>
          <div class="text3">여름 뮤트</div>
          <div class="text2">
            탁한, 톤이 다운된 파스텔 계열이 잘 어울리고 팔레트 범위가 가장
            넓어서 소화할 수 있는 색이 많아요
          </div>
        </div>
        <div class="details" id="au">
          <div class="text3">가을 뮤트</div>
          <div class="text2">
            아이보리~브라운 계열 컬러지만 채도가 낮아 회색 기가 있는 컬러가
            어울려요
          </div>
          <div class="text3">가을 스트롱</div>
          <div class="text2">
            중명도 고채도 색상이 잘 어울려서 채도가 높은 봄 브라이트 색도 소화가
            가능해요. 밝기보다는 채도가 훨씬 중요한 톤이에요
          </div>
          <div class="text3">가을 딥</div>
          <div class="text2">
            저명도의 어둡고 음영 있는 색이 잘 어울리고 청순한 파스텔 톤의
            거리와는 거리가 있어요
          </div>
        </div>
        <div class="details" id="wi">
          <div class="text3">겨울 브라이트</div>
          <div class="text2">
            고채도의 비비드한 컬러가 잘 어울려서 하얗고 맑은 피부와 찰떡인
            톤이에요. 하지만 색조 메이크업을 빠뜨리면 창백하고 밋밋해보일 수
            있어요
          </div>
          <div class="text3">겨울 딥</div>
          <div class="text2">
            저명도 저채도의 블랙이 섞인 컬러가 잘 어울리는 타입이에요.
          </div>
          <div class="text3">가을 딥</div>
          <div class="text2">
            저명도의 어둡고 음영 있는 색이 잘 어울리고 청순한 파스텔 톤의
            거리와는 거리가 있어요
          </div>
        </div>
      -->
        <div class="text1">🎨 연예인을 통해 알아보자!</div>
        <div class="text3">봄 웜톤 연예인</div>
        <div class="images">
          <img src="./image/봄웜/송혜교.png" height="200vh" />
          <img src="./image/봄웜/수지.png" height="200vh" />
          <img src="./image/봄웜/아이유.png" height="200vh" />
          <img src="./image/봄웜/윤아.png" height="200vh" />
          <img src="./image/봄웜/한지민.png" height="200vh" />
          <img src="./image/봄웜/유인나.png" height="200vh" />
        </div>
        <div class="text3">여름 쿨톤 연예인</div>
        <div class="images">
          <img src="./image/여름쿨/문채원.png" height="200vh" />
          <img src="./image/여름쿨/아이린.png" height="200vh" />
          <img src="./image/여름쿨/이영애.png" height="200vh" />
          <img src="./image/여름쿨/손예진.png" height="200vh" />
        </div>
        <div class="text3">가을 웜톤 연예인</div>
        <div class="images">
          <img src="./image/가을웜/김유정.png" height="200vh" />
          <img src="./image/가을웜/문가영.png" height="200vh" />
          <img src="./image/가을웜/신세경.png" height="200vh" />
          <img src="./image/가을웜/제니.png" height="200vh" />
          <img src="./image/가을웜/이효리.png" height="200vh" />
        </div>
        <div class="text3">겨울 쿨톤 연예인</div>
        <div class="images">
          <img src="./image/겨울쿨/서예지.png" height="200vh" />
          <img src="./image/겨울쿨/선미.png" height="200vh" />
          <img src="./image/겨울쿨/설현.png" height="200vh" />
          <img src="./image/겨울쿨/손나은.png" height="200vh" />
          <img src="./image/겨울쿨/청하.png" height="200vh" />
          <img src="./image/겨울쿨/현아.png" height="200vh" />
        </div>
      </div>
    </div>
  </body>
</html>
