<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="info.css" />
    <script
      src="https://kit.fontawesome.com/f32763c86a.js"
      crossorigin="anonymous"
    ></script>
    <title>Personal-Color-Information</title>
  </head>
  <body>
    <div class="title">
      <h1>What is Personal Color?</h1>
      <a class="home" href="web.html"
        ><i class="fa-solid fa-house" href="web.html"></i
      ></a>
    </div>
    <div>퍼스널 컬러: 피부 밝기, 모발 컬러, 눈동자 색상 등의 방법을 고려해 자신에게 제일 잘 어울리는 색상을 테스트해 진단하는 것

장점: 자신에게 어울리는 스타일을 찾을 수 있다, 스타일을 통해 건강하고 생기 있어 보이는 이미지를 준다. 

종류: 봄 여름 가을 겨울 더 자세히 세분화로 나누면 명도, 채도 기준으로 라이트, 뮤트, 딥 등으로 다양하게 나눠짐 
봄: 부드러운 이미지, 흰 끼가 섞인 파스텔 컬러가 잘 어울림
여름: 파스텔톤이나 시원한 컬러가 잘 어울림, 맑고 화사한 이미지
가을: 우아하며 차분한 이미지, 브라운 계열이 잘 어울림
겨울: 강렬하고 비비드한 컬러가 잘 어울림, 세련되고 시크한 이미지

종류별 대표 연예인 
-봄: 윤아, 수지, 이종석, 샤이니 태민
-여름: 손예진, 김태리, 이제훈, 김우빈
-가을: 제니, 신세경, 공유, 서강준 
-겨울: 카리나, 임지연, 김수현, 강동원
</div>
  </body>
</html>
